<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%highlight(%-5level)][%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS})]%gray([%thread]) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.micronaut" level="info" />
    <logger name="io.netty" level="info"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>